SPARROW_API_KEY=replace-with-a-long-random-secret
SPARROW_HOST=0.0.0.0
SPARROW_PORT=8080
SPARROW_ROUTING=fair
SPARROW_WARP_URL=socks5://warp:1080
SPARROW_WARP_REQUIRED=false
SPARROW_WARP_STARTUP_TIMEOUT=90
SPARROW_WARP_STARTUP_RETRY_INTERVAL=2
SPARROW_REQUEST_DEADLINE=120
SPARROW_MAX_REQUEST_ATTEMPTS=4
SPARROW_MAX_ROUTE_ATTEMPTS=2
